# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that can be accessed, managed, and updated.

There are mainly two types of data 

SQL and NoSQL.

SQL databases are table based and use a relational model to store data.

While NoSQL databases are non relational and store data in variety of formats such as key value pair, documents ,graphs, etc.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is stands for Data Defination Language.

It is a subset of SQL and is a part of DBMS.

DDL consists of commands like CREATE, ALTER, TRUNCATE, DROP.

EXAMPLE:-
    
CREATE TABLE students(
    id INT ,
    name VARCHAR(255),
    age INT
);

We use create command to create any table in sql.

DROP TABLE students;

We use drop command to delete the existing table.

ALTER TABLE studeents ADD email VARCHAR(255);

We use alter command to make changes in the existing table.

TRUNCATE TABLE students;

We use truncate command to remove all the data from an existing table.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language.

It is also a subset of SQL and part of dbms.

DML commands are used to manipulate the data in the existing table.

INSERT, UPDATE, AND DELETE are some of the DML commands we commonly use.

EXAMPLE:-
    
INSERT INTO students(id,name,age) values (155,'kyle',21);

We use insert command to insert the values into the table.

UPDATE sttudents SET age = 20
WHERE id = 1;

We use update command to update the values in the existing table.

DELETE FROM students WHERE id = 1;

Delete command is used to detete records from a existing table.

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language.

It is also a subset of sql and part of dbms.

The commonly used dql command is SELECT 

EXAMPLE:-
    
SELECT * FROM students;

SELECT command is used for retrive all records from a existing table.

# Q5. Explain Primary Key and Foreign Key.

Primary key in sql is a column that uniquely identifies each row in a table.

Foreign key in sql is a column that refers to the primery key of anathor table.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="your user name",
    password="your password",
    database="mydatabase"
)

mycurser = mydb.curser()

mycurser.execute("SELECT * FROM student")

myresult = mycurser.fetchall()

for x in myresult:
    print (x)

# Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

SELECT
FROM
JOIN
WHERE
GROUP BY
HAVING
ORDER BY