In [2]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

data = [4,8,15,16,23,42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on
# the variable print it.

my_list = [1,11,22,33,44,55,66,77,88,99]

series1 = pd.Series(my_list)

print(series1)

0     1
1    11
2    22
3    33
4    44
5    55
6    66
7    77
8    88
9    99
dtype: int64

In [4]:
# Q3. Create a Pandas DataFrame that contains the following data:

data1 = {'name':['Alice',
'Bob',
'Claire'],'age':[25,
30,
27],'gender':['Female',
'Male',
'Female']}

df = pd.DataFrame(data1)

print(df)

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# A pandas dataframe is a 2-d data structure that can store data from different types in columns.
# It is most likely to an excel or sql table.
# Dataframe can be described as collection of pandas series object.

# On the other hand a pandass series is a 1-dimensional data structure that can store data of different types.
# It is similar to python list or an array.
# Series can be describe as single column of data in a pandas dataframe.

# Example:
    
data1 = {'name':['Alice',
'Bob',
'Claire'],'age':[25,
30,
27],'gender':['Female',
'Male',
'Female']}

df = pd.DataFrame(data1)
Gender_series = pd.Series('gender')

print(df)
print(Gender_series)

     name  age  gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0    gender
dtype: object

In [13]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

# There are many function we can use to manipulate the data in a pandas Dataframe.
# Here are some example:
    
#     head() : It returns the first five or n rows we want of the data frame.
#     tail() : It returns the last five or n rows we want of the data frame.
#     describe(): It generates descriptive statistics of the data frame.
#     info() : It prints a summary of the dataframe.
# example:
    
df_head = df.head(2)

print(df_head)

    name  age  gender
0  Alice   25  Female
1    Bob   30    Male

In [26]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# All pandas data structures are value mutable and except series all are size mutable.

# So the answer is Dataframe and Panel

In [25]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

data2 = ['name','gender','age']
data3 = ['laxmikanta','male',23]
data4 = ['subhashree','female',23]

d1 = pd.Series(data2)
d2 = pd.Series(data3)
d3 = pd.Series(data4)

data_Frame = pd.concat([d1,d2,d3],axis=1)

print(data_Frame)

        0           1           2
0    name  laxmikanta  subhashree
1  gender        male      female
2     age          23          23