In [9]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

_string = 'laxmikanta'

_list = ['laxmikanta','sahoo',3,4,5,6,9.876,5.43,True]

_float = 3.56

_tuple = ('laxmikanta',23,56,False)

In [33]:
# Q2. Given are some following variables containing data:
# (i) var1 = ''
# (ii) var2 = ‘[ DS , ML , Python]’
# (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
# (iv) var4 = 1.
# What will be the data type of the above given variable.

var1 = '' # string

var2 = '[ DS , ML , Python]' # string

var3 = [ 'DS' , 'ML' , 'Python'] #list

var4 = 1. # float

In [32]:
# Q3. Explain the use of the following operators using an example:
# (i) /
# (ii) %
# (iii) //
# (iv) **

# '/' this operator is used for normal division like:

a = 24

b = 4

print(a/b)

# '%' this operator is called as modulo operator. It is used for computation of remainder of an integer division.

c = 24

d = 4

print(c%d)

# '//' this operator is used for rounded down the integer division result to the nearest integer.

e = 35

f = 6

print(e//f)

# '**' this operator is used for evaluate the square of any integer value.

g = 5

h = 2

print(g**h)

6.0
0
5
25

In [41]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

your_list = ['laxmikanta','India','odisha',7,5,4,2,0,0,72.53]

for my_list in your_list:
    
    print(type(my_list))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>

In [37]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

a = 24
b = 2
count = 0

while a % b == 0:
    count += 1
    a /= b

print("The number A is divisible by number B", count, "times")

The number A is divisible by number B 3 times

In [48]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

list_25 = [x for x in range(1,26)]

for x in list_25:
    
    if x%3 == 0:
        print(x,'is divisible by 3')
    else:
        print(x,'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [49]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

# In Python, immutable data types are objects that cannot be modified after they have been created.

# On the other hand, mutable objects are easy to change.

my_list1 =[1,2,3]

my_list1[0] = 0

print(my_list1)   # example of mutable data type.

my_tuple = (1,2,3)

my_tuple[0] = 0 # example of immutable data type.

[0, 2, 3]

TypeError: 'tuple' object does not support item assignment